.bg-brown {
  background-color: #8A6240 !important;
  color: #fff !important;
}

.text-brown {
  color: #8A6240 !important;
}
.custom-header th {
  background-color: #CABA9C !important;
  color: #000; /* dark text for contrast */
}

.cursor-pointer {
  cursor: pointer !important;
}
