.custom-dialog-container {
  margin-top: 120px;
  transform: scale(0.84);     
}


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

/* Layout wrapper */
.main-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Content area grows */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Footer component */
app-footer {
  margin-top: auto;
}

::ng-deep .mat-mdc-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}



.logo-link {
  cursor: pointer;
  text-decoration: none;
}

.logo-link:hover {
  text-decoration: none;
#profileDropdown:focus,
#profileDropdown:active,
#profileDropdown.show {
  background-color: #8A6240 !important;
  color: #fff !important;
  border-radius: 0.375rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn btn-primary{
  background-color: #8A6240;
  border-color:#7b5838 ; 
}
}