.table-hover tbody tr:hover {
  background-color: #f9f9f9;
  transition: background-color 0.2s ease-in-out;
}

.table th {
  font-weight: 600;
  font-size: 0.95rem;
}

.table td {
  font-size: 0.9rem;
  vertical-align: middle;
}

.custom-header th {
  background-color: #CABA9C !important;
  color: #000; /* dark text for contrast */
}
