/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 250px;
}

.form-input{
    
}

.form-button{

}

.c-item{
    max-height: 400px;
    object-fit: contain;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.col-ig{
     flex: 1 0 250px; /* This allows cards to grow, shrink, and have a base width */
    margin: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* This makes all cards the same height */
    justify-content: space-around;

}