/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-backdrop {
  backdrop-filter: blur(6px);
}
.custom-dialog-container .mat-mdc-dialog-surface {
  border-radius: 8px;
} */


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

/* Layout wrapper */
.main-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Content area grows */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Footer component */
app-footer {
  margin-top: auto;
}

::ng-deep .mat-mdc-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

#profileDropdown:focus,
#profileDropdown:active,
#profileDropdown.show {
  background-color: #8A6240 !important;
  color: #fff !important;
  border-radius: 0.375rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn btn-primary{
  background-color: #8A6240;
  border-color:#7b5838 ; 
}