/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
<<<<<<< HEAD
=======

.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 250px;
}

.form-input{
    
}

.form-button{

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> 7be06ea612af6b05adf1b42c4a91e2e6e7176fee

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
